{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    }
  },
  "parser": "babel-eslint",

  "extends": [
    "airbnb",
    "prettier",
    "plugin:react/recommended",
    "eslint:recommended"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": ["error", "never"],
    "comma-style": [2, "last"],
    "no-unused-vars": 1,
    "no-param-reassign": 1,
    "react/prop-types": 0,
    "class-methods-use-this": 0,
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".tsx", ".ts"] }],  // jsx语法能出现在该类型的文件
    "react/prefer-stateless-function": 1, // 该组件是否应该是纯函数
    "react/button-has-type": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "import/prefer-default-export": 0,
    "react/self-closing-comp": 0,
    "react/no-redundant-should-component-update": 0,
    "import/extensions": 0,
    "react-hooks/rules-of-hooks": "error", // 检查 Hook 的规则
    "react-hooks/exhaustive-deps": "warn", // 检查 effect 的依赖
    "import/no-unresolved": [
      2,
      {
          "ignore": ["^src/"]
      },
    ],
  },
  "settings": {
    // support import modules from TypeScript files in JavaScript files
    "import/resolver": { 
      "node": { 
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"] 
      }
    },
  }
}