{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "plugins": ["prettier"],

  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "eslint:recommended"
  ],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": ["error", "never"],
    "comma-style": [2, "last"],
    "no-unused-vars": 1,
    "react/prop-types": 0
  }
}