{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier"],

  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "eslint:recommended"
  ],
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"]
  }
}