:global(.ant-layout).msLayout {
  height: 100%;
}
.logoIcon {
  font-size: 26px;
  padding: 20px 98px 0 25px;
  float: left;
  color: #fff !important;
}
.smContent {
  padding: 20px;
  background-color: #f9f9f9;
}
